@import "normalize";

@import "mixin";

@import "settings";

.container {
  padding-inline: min(6.25vw, 120px);
}

.hero {
  margin-bottom: min(2.60vw, 50px);
  background-color: rgba(17, 31, 74, 1);

  padding-block: min(2.60vw, 50px);

  &__titleBlockMain {
    width: min(47.50vw, 912px);

    column-gap: min(1.04vw, 20px);

    &:has(.hero__titleBlock_other) {
      display: flex;
      width: min(58.75vw, 1128px);

      column-gap: min(1.04vw, 20px);
    }
  }

  &__topBlock {
    justify-content: space-between;
    margin-bottom: min(1.04vw, 20px);

    column-gap: min(1.04vw, 20px);
  }

  &__titleBlock {
    flex-direction: column;
    width: 100%;
    min-height: min(26.04vw, 500px);
    margin-bottom: min(1.04vw, 20px);
    padding: min(2.60vw, 50px);
    border-radius: min(.52vw, 10px);
    background-color: rgba(255, 255, 255, 1);

    & > h1 {
      max-width: 80%;
      margin-bottom: min(1.04vw, 20px);
      font-size: min(3.96vw, 76px);
      font-weight: 700;
      line-height: 100%;
      color: rgba(32, 69, 182, 1);
      letter-spacing: 0;
    }

    & > hr {
      width: min(22.24vw, 427px);
      height: 3px;
      margin-bottom: min(1.04vw, 20px);
      margin-left: 0;
      background-color: rgba(32, 69, 182, 1);
    }

    & > span {
      font-size: min(1.25vw, 24px);
      font-weight: 400;
      line-height: 100%;
      color: rgba(0, 0, 0, 1);
      letter-spacing: 0;
    }

    &_other {
      width: min(58.75vw, 1128px);
      height: 100%;

      & > h1 {
        max-width: 100%;
        font-size: min(2.60vw, 50px);
        line-height: 115%;
      }
    }
  }

  &__topDescr {
    flex-wrap: wrap;
    margin-top: auto;

    gap: min(.52vw, 10px);

    & > span {
      padding: min(.52vw, 10px) min(1.56vw, 30px);
      border: 1px solid rgba(32, 69, 182, 1);
      border-radius: min(1.56vw, 30px);
      font-size: min(1.25vw, 24px);
      font-weight: 500;
      line-height: 100%;
      color: rgba(32, 69, 182, 1);
      letter-spacing: 0;
    }
  }

  &__topImgBlock {
    width: min(38.96vw, 748px);
    min-height: min(36.98vw, 710px);
    border-radius: min(.52vw, 10px);
    background-image: url(../img/hero_main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &_other {
      width: min(27.71vw, 532px);
    }
  }

  &__titleContent {
    max-width: min(28.85vw, 554px);
    min-height: min(9.90vw, 190px);
    padding: min(1.56vw, 30px);
    border-radius: min(.52vw, 10px);
    background-color: rgba(47, 59, 111, 1);

    & h3 {
      margin-bottom: min(.52vw, 10px);
      font-size: min(1.25vw, 24px);
      font-weight: 700;
      line-height: 100%;
      color: rgba(255, 255, 255, 1);
      letter-spacing: 0;

      & + span {
        font-size: min(.83vw, 16px);
        font-weight: 400;
        line-height: 100%;
        color: white;
        letter-spacing: 0;
      }
    }
  }

  &__titleBlockBottom {
    column-gap: min(1.04vw, 20px);
  }

  &__bottomBlock {
    justify-content: space-between;

    column-gap: min(1.04vw, 20px);

    & > h3 {
      font-size: min(1.25vw, 24px);
      font-weight: 700;
      font-style: Bold;
      line-height: 100%;
      letter-spacing: 0;
    }
  }

  &__bottomContent {
    align-items: center;
    width: min(43.23vw, 830px);
    min-height: min(8.80vw, 169px);
    border-radius: min(.52vw, 10px);

    &_1 {
      background-image: url(../img/hero_learn.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &_2 {
      background-image: url(../img/hero_sert.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &:nth-child(2) > h3 {
      color: black;
    }

    & > h3 {
      padding-left: min(13.02vw, 250px);
      font-size: min(1.25vw, 24px);
      font-weight: 700;
      line-height: 100%;
      color: white;
      letter-spacing: 0;
    }
  }

  &__appLink {
    display: grid;
    width: max-content;
    margin-top: min(1.56vw, 30px);
    padding: min(.52vw, 10px) min(1.56vw, 30px);
    border-radius: min(1.56vw, 30px);
    font-size: min(.94vw, 18px);
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    color: #ffffff;
    background: #00af8d;

    place-items: center;
  }

  &__correctionOther {
    display: grid;
    width: max-content;
    margin-bottom: min(2.60vw, 50px);
    padding: min(.52vw, 10px) min(1.56vw, 30px);
    border-radius: min(1.56vw, 30px);
    font-size: min(1.25vw, 24px);
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    color: #ffffff;
    background: #2f3b6f;

    place-items: center;
  }
}

.prog {
  padding-bottom: min(5.21vw, 100px);

  & h2 {
    font-size: min(2.08vw, 40px);
    font-weight: 700;
    line-height: 100%;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0;
    text-transform: uppercase;
  }

  &__titleBlock {
    align-items: center;
    justify-content: space-between;
    margin-bottom: min(1.56vw, 30px);
  }

  & hr {
    width: min(62.66vw, 1203px);
    height: 3px;
    background-color: rgba(32, 69, 182, 1);
  }

  &__choiceBlock {
    flex-wrap: wrap;

    gap: min(.78vw, 15px);
  }

  &__choice {
    padding: min(.52vw, 10px) min(1.04vw, 20px);
    border-radius: min(1.56vw, 30px);
    font-size: min(1.25vw, 24px);
    font-weight: 500;
    line-height: 100%;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0;
    background-color: rgba(204, 204, 204, 1);
    transition: color .3s ease-in-out, background-color .3s ease-in-out;

    &:hover {
      color: white;
      background-color: rgba(32, 69, 182, 1);
    }
  }

  &__choiceBlock {
    margin-bottom: min(1.56vw, 30px);
  }

  &__programmList {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: min(2.60vw, 50px);

    gap: min(1.04vw, 20px);
  }

  &__item {
    display: none;
    flex-direction: column;
    width: 49%;
    min-height: min(15.05vw, 289px);
    padding: min(2.08vw, 40px);
    padding-bottom: min(3.65vw, 70px);
    border-radius: min(.52vw, 10px);
    background-color: rgba(245, 245, 247, 1);

    & > h4 {
      margin-bottom: min(1.04vw, 20px);
      font-size: min(1.25vw, 24px);
      font-weight: 700;
      line-height: 100%;
      color: black;
      letter-spacing: 0;
    }

    & > a {
      width: max-content;
      padding: min(.52vw, 10px) min(1.56vw, 30px);
      border-radius: min(1.56vw, 30px);
      font-size: min(.94vw, 18px);
      font-weight: 500;
      line-height: 100%;
      color: white;
      letter-spacing: 0;
      background-color: rgba(0, 175, 141, 1);
    }
  }

  &__detailsBlock {
    flex-wrap: wrap;
    margin-top: auto;
    margin-bottom: min(2.08vw, 40px);

    column-gap: min(1.04vw, 20px);

    & > span {
      position: relative;
      display: flex;
      align-items: center;
      width: max-content;
      padding-left: min(1.67vw, 32px);
      font-size: min(.94vw, 18px);
      font-weight: 400;
      line-height: 100%;
      letter-spacing: 0;

      &:first-child::after {
        @include back_img;
        content: "";
        position: absolute;
        left: 0;
        width: min(1.20vw, 23px);
        height: min(.89vw, 17px);
        background-image: url(../img/1.svg);
      }

      &:nth-child(2)::after {
        @include back_img;
        content: "";
        position: absolute;
        left: 0;
        width: min(.89vw, 17px);
        height: min(.89vw, 17px);
        background-image: url(../img/2.svg);
      }

      &:last-child::after {
        @include back_img;
        content: "";
        position: absolute;
        left: 0;
        width: min(.89vw, 17px);
        height: min(.78vw, 15px);
        background-image: url(../img/3.svg);
      }
    }
  }

  &__more {
    display: block;
    width: max-content;
    margin: 0 auto;
    padding: min(.52vw, 10px) min(1.56vw, 30px);
    border-radius: min(1.56vw, 30px);
    font-size: min(.94vw, 18px);
    font-weight: 500;
    line-height: 100%;
    color: white;
    letter-spacing: 0;
    background-color: black;
  }
}

.info {
  padding-bottom: min(5.21vw, 100px);

  &__titleBlockMain {
    width: min(47.50vw, 912px);

    column-gap: min(1.04vw, 20px);
  }

  & hr {
    width: min(52.81vw, 1014px);
    height: 3px;
    background-color: rgba(32, 69, 182, 1);
  }

  & h2 {
    font-size: min(2.08vw, 40px);
    font-weight: 700;
    line-height: 100%;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0;
    text-transform: uppercase;
  }

  &__titleBlock {
    align-items: center;
    justify-content: space-between;
    margin-bottom: min(1.56vw, 30px);
  }

  &__socDescrItem {
    position: relative;
    display: flex;
    // align-items: center;
    padding-left: min(1.56vw, 30px);
    font-size: min(.94vw, 18px);
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: #000000;

    &:has(> b) {
      display: block;

      &::after {
        top: 0;
      }
    }

    &::after {
      @include back_img;
      content: "";
      position: absolute;
      left: 0;
      width: min(.89vw, 17px);
      height: min(.89vw, 17px);
      background-image: url(../img/ok.svg);
    }

    & > b {
      display: block;
      margin-bottom: min(.52vw, 10px);
      font-size: min(1.25vw, 24px);
      font-weight: 700;
      line-height: 100%;
      color: rgba(32, 69, 182, 1);
      letter-spacing: 0;
    }

    &_withoutCheck {
      display: block;

      & > ul > li {
        margin-left: min(1.04vw, 20px);
        list-style-type: disc;
      }

      &::after {
        display: none;
      }

      & > span {
        display: block;
        margin-bottom: min(.52vw, 10px);
        font-size: min(1.25vw, 24px);
        font-weight: 700;
        font-style: normal;
        line-height: normal;
        color: #2045b6;
      }
    }
  }

  &__descrBlock {
    width: min(65.36vw, 1255px);
    min-height: min(10.78vw, 207px);
    padding: min(1.56vw, 30px);
    border-radius: min(.52vw, 10px);
    background-color: rgba(245, 245, 247, 1);
  }

  &__switchBlock {
    justify-content: space-between;
  }

  &__switchBtn {
    font-size: min(1.25vw, 24px);
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: #2045b6;
  }

  & ul:has(.info__switchBtn) {
    display: flex;
    flex-direction: column;

    row-gap: min(1.04vw, 20px);
  }

  &__socDescr {
    display: flex;
    flex-direction: column;

    row-gap: min(1.04vw, 20px);
  }
}

.doc {
  padding-top: min(2.86vw, 55px);
  padding-bottom: min(5.21vw, 100px);
  background-color: rgba(245, 245, 247, 1);

  &__titleBlockMain {
    width: min(47.50vw, 912px);

    column-gap: min(1.04vw, 20px);
  }

  & hr {
    width: min(37.34vw, 717px);
    height: 3px;
    background-color: rgba(32, 69, 182, 1);
  }

  & h2 {
    font-size: min(2.08vw, 40px);
    font-weight: 700;
    line-height: 100%;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0;
    text-transform: uppercase;
  }

  &__titleBlock {
    align-items: center;
    justify-content: space-between;
    margin-bottom: min(1.56vw, 30px);
  }

  &__list {
    column-gap: min(1.04vw, 20px);

    & > li {
      width: min(13.70vw, 263px);
      height: min(11.25vw, 216px);
      padding: min(1.56vw, 30px);
      border-radius: min(.52vw, 10px);
      background-color: white;

      & > div {
        margin-bottom: min(1.04vw, 20px);

        & + p {
          max-width: 90%;
          font-size: min(.94vw, 18px);
          font-weight: 400;
          line-height: 100%;
          color: black;
          letter-spacing: 0;
        }

        & > svg {
          width: min(2.29vw, 44px);
          height: min(2.29vw, 44px);
        }
      }
    }
  }
}

.visible {
  display: flex;
}

.none {
  display: none !important;
}

.active {
  color: white;
  background-color: rgba(32, 69, 182, 1);
}
